@import "open-props/teal";

.tag {
  font-size: 1rem;
  color: black;
  background-color: var(--orange-1);
  border: 1px solid var(--orange-3);
  padding: 0.2em 0.6em;
  display: inline-block;
  border-radius: 5px;
}

.tag:not(:last-child) {
  margin-right: 0.25em;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--orange-2);
}
