.entries > * ~ * {
	margin-top: var(--size-rem-4);
}

.entries {
	grid-area: entries;
	display: flex;
	flex-direction: column;
}

@media (min-width: 721px) {
	.entries > * ~ * {
		margin-top: var(--size-rem-6);
	}
}
