.entries > * ~ * {
	margin-top: 4rem;
}

.entries {
	grid-area: entries;
	display: flex;
	flex-direction: column;
	/* margin: 0px auto; */
	/* width: 90%; */
}

@media (min-width: 721px) {
	.entries > .entry ~ .entry {
		margin-top: 6rem;
	}
	/* .entries {
    width: 75%;
  } */
}
