.entries > * ~ * {
	margin-top: var(--size-rem-4);
}

.entries {
	padding: var(--size-rem-05) var(--size-rem-15);
	grid-area: entries;
	display: flex;
	flex-direction: column;
}

@media (min-width: 721px) {
	.entries > * ~ * {
		margin-top: var(--size-rem-6);
	}
	.entries {
		padding: var(--size-rem-1) var(--size-rem-3);
	}
}
