.tag {
  color: var(--color-red-dark);
  display: inline-block;
}

.tag:not(:last-child) {
  margin-right: var(--size-rem-05);
}

.tag:hover {
  background-color: var(--color-blue-light);
  cursor: pointer;
}
