.paragraph { 
  font-size: 1.1rem;
}

.paragraph:not(:last-child) { margin-bottom: 1em; }
.paragraph:last-child { margin-bottom: 2em; }

.paragraph a,
.paragraph a:link,
.paragraph a:visited,
.paragraph a:active {
  font-size: 1em;
  text-decoration: none;
  color: hsl(var(--red-9-hsl));
}

.paragraph a:hover {
  cursor: pointer;
  background-color: var(--blue-1);
}

.paragraph code {
  color: hsl(var(--blue-8-hsl));
}
