@import "open-props/blue";
@import "open-props/gray";
@import "open-props/red";

.paragraph { 
  font-size: 1em;
}

.paragraph:not(:last-child) { margin-bottom: 1em; }
.paragraph:last-child { margin-bottom: 2em; }

.paragraph a,
.paragraph a:link,
.paragraph a:visited,
.paragraph a:active {
  font-size: 1em;
  text-decoration: none;
  color: var(--red-8);
}

.paragraph a:hover {
  cursor: pointer;
  background-color: var(--blue-1);
}
