@import 'open-props/open-props.min';
@import 'open-props/colors-hsl.min';

:root {

	color-scheme: dark light;

	box-sizing: border-box;

	font-synthesis: none;
	font-family: 'Lexend', sans-serif;
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-3);
	line-height: var(--font-lineheight-3);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

}

body {
	display: grid;
	/* grid-template-columns: 50vw; */
	/* flex-direction: column; */
	grid-template-areas:
		"header"
		"entries";
	padding: 1rem;
	border-left: 5px solid hsl(var(--red-6-hsl));
	margin: 0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) {
	body {
		/* grid-template-columns: 50% 40%; */
		/* flex-direction: column; */
		grid-template:
			"header header"
			"entries entries" / 2fr 1fr;
		padding: 1rem 3rem;
		border-left: 10px solid hsl(var(--red-6-hsl));
		margin: 0;
	}		
}

.light {
	background-color: hsl(var(--sand-2-hsl) / 20%);
	color: hsl(var(--sand-7-hsl));
}

.dark {
	background-color: hsl(var(--gray-8-hsl));
	color: hsl(var(--gray-0-hsl));
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: dark;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: light;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}
