@import './colors';
@import './sizes';
@import './typeography';

:root {
	color-scheme: dark light;
	box-sizing: border-box;

	.noscript {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

}

body {
	display: grid;
	grid-template-areas: "header" "entries";
	border-left: var(--size-px-05) solid var(--color-red-light);
	min-height: 100vh;
	margin: 0;
	font-size: var(--size-rem-15);
}

@media (min-width: 721px) {
	body {
		border-left: var(--size-px-10) solid var(--color-red-light);
		margin: 0;
    font-size: var(--size-rem-1);
		overflow-x: hidden;
	}
}

.light {
	background-color: var(--color-sand-light-faded);
	color: var(--color-sand-regular);

	a,
	a:link,
	a:visited,
	a:active {
		text-decoration: none;
		color: var(--color-red-dark);
	}

	a:hover {
		cursor: pointer;
		background-color: var(--color-blue-light);
	}

	code {
		color: var(--color-blue-dark);
	}

}

.dark {
	background-color: hsl(var(--gray-8-hsl));
	color: hsl(var(--gray-0-hsl));
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: dark;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: light;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}
