@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;800&display=swap');

:root {
	
	font-family: 'Lexend', sans-serif;
	font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: 1.8;	

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--font-weight-8: 800;
	--font-weight-6: 600;

}
