.heading {
  margin: 0;
  padding: 0;
  color: var(--color-sand-regular);
}

.h1 {
  font-size: var(--size-rem-3);
  font-weight: var(--font-weight-8);
  composes: heading;
}

.h2 {
  composes: heading;
  font-size: var(--size-rem-2);
  color: var(--color-red-dark);
  font-weight: var(--font-weight-6);
  line-height: 1.2;
  margin-bottom: var(--size-rem-05);
}

.h3 {
  composes: heading;
  font-size: var(--size-rem-18);
  font-weight: var(--font-weight-6);
  margin-bottom: var(--size-rem-1);
}

.date {
  composes: h3;
  font-size: var(--size-rem-18);
  margin-bottom: var(--size-rem-075);
}

@media (min-width: 721px) {

  .h1 {
    font-size: var(--size-rem-23);
  }  

  .h2 {
    font-size: var(--size-rem-16);
  }  

  .h3 {
    border-bottom: var(--size-px-1) solid var(--gray-6);
    font-size: var(--size-rem-12);
    margin-bottom: var(--size-rem-1);
  }

  .date {
    font-size: var(--size-rem-12);
    margin-bottom: var(--size-rem-2);
  }

}
