.blockquote_hHp2i ~ .blockquote_hHp2i {
  margin-top: var(--size-rem--15);
}

.blockquote_hHp2i {
  margin: var(--size-rem-15) var(--size-rem-1);
  padding: var(--size-rem-05);
  border-left: var(--size-px-05) solid var(--color-gray-regular);
}

@media (min-width: 721px) {
  .blockquote_hHp2i {
    border-left: var(--size-px-10) solid var(--color-gray-regular);
  }
}

.heading_eZIvn {
  margin: 0;
  padding: 0;
}

.h1_mnlYR {
  font-size: var(--size-rem-3);
  font-weight: var(--font-weight-8);
  color: hsl(var(--stone-9-hsl));
}

.h2_-gsxg {
  color: hsl(var(--sand-8-hsl));
  font-size: var(--size-rem-22);
  font-weight: var(--font-weight-6);
  line-height: 1.2;
  margin-bottom: var(--size-rem-05);
}

.h3_mxmBn {
  color: hsl(var(--sand-7-hsl));
  font-size: var(--size-rem-16);
  font-weight: var(--font-weight-6);
  margin-bottom: var(--size-rem-1);
}

.date_D4y8s {
  font-size: var(--size-rem-16);
  margin-bottom: var(--size-rem-075);
}

@media (min-width: 721px) {

  .h1_mnlYR {
    font-size: var(--size-rem-25);
  }  

  .h2_-gsxg {
    font-size: var(--size-rem-18);
  }  

  .h3_mxmBn {
    border-bottom: var(--size-px-1) solid var(--gray-6);
    font-size: var(--size-rem-15);
    margin-bottom: var(--size-rem-2);
  }

  .h3_mxmBn {
    margin-bottom: 0;
  }

}

.imageContainer_0ew51 {
  border: var(--size-px-02) solid var(--color-gray-dark);
  border-radius: var(--size-px-10);
  display: flex;
  margin-bottom: var(--size-rem-15);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--size-rem-15);
}

.image_Mhl-i {
  animation: fadeIn_MbchH 2s linear;
  border-radius: var(--size-px-075);
  height: auto;
  width: 100%;
}

@keyframes fadeIn_MbchH {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.paragraph_72Vn7:not(:last-child) {
  margin-bottom: var(--size-rem-1);
}

.paragraph_72Vn7:last-child {
  margin-bottom: var(--size-rem-2);
}

.table_tftVB {
  border: var(--size-px-01) solid var(--color-gray-dark);
  border-collapse: collapse;
  margin: var(--size-rem-15) 0 var(--size-rem-15) 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.table_tftVB thead {
  border-bottom: var(--size-px-01) solid var(--color-gray-dark);
  text-align: left;
}

.table_tftVB thead th { 
  padding: var(--size-rem-05) var(--size-rem-075);
  text-transform: uppercase;
}

.table_tftVB tbody td {
  border: var(--size-px-01) solid var(--color-sand-regular);
  padding: var(--size-rem-05) var(--size-rem-075);
}

.table_tftVB th {
  background-color: var(--color-gray-light);
}

.content_Go-kx {
	grid-area: content;
}

.tag_j1yjb {
  color: hsl(var(--red-9-hsl));
  display: inline-block;
}

.tag_j1yjb:not(:last-child) {
  margin-right: var(--size-rem-025);
}

.tag_j1yjb:hover {
  background-color: var(--color-blue-light);
  cursor: pointer;
}

.tagContainer_zYV7K h3 {
	margin-bottom: var(--size-rem-025);
}

.tags_m73Yt {
	grid-area: tags;
	overflow-x: auto;
}

.header_CAcrz {
	border-bottom: 1px dashed hsl(var(--sand-7-hsl));
}

/* Tablet and Smaller Desktop */

@media (min-width: 721px) {
	.entry_PTQ1E {
		column-gap: var(--size-rem-4);
		display: grid;
		grid-template:
			"heading tags"
			"content aside" / 3fr 1fr;
	}	
}
.entries_kJdov > * ~ * {
	margin-top: var(--size-rem-4);
}

.entries_kJdov {
	display: flex;
	flex-direction: column;
	grid-area: entries;
	padding: var(--size-rem-05) var(--size-rem-15);
}

@media (min-width: 721px) {
	.entries_kJdov > * ~ * {
		margin-top: var(--size-rem-6);
	}
	.entries_kJdov {
		padding: var(--size-rem-1) var(--size-rem-3);
	}
}

.footer_7SU6u {
  align-items: center;
  background-color: var(--color-sand-light-40);
  border-top: var(--size-px-05) solid var(--color-sand-light-60);
  display: grid;
  gap: var(--size-rem-2);
  grid-template: "socials" / 1fr;
  margin-top: var(--size-rem-4);
  padding: var(--size-rem-05) var(--size-rem-15);
}

.socialsList_5g2nK {
  grid-area: socials;
}

.socialsList_5g2nK li {
  align-items: center;
  display: flex;
}

.icon_X-gt0 {
  margin-right: var(--size-rem-05);
}

@media (min-width: 721px) {
	.footer_7SU6u {
    grid-template: "socials . ." / 1fr 1fr 1fr;
    padding: var(--size-rem-1) var(--size-rem-3);
	}
}

.header_qCyM9 {
  background-color: var(--color-sand-light-40);
  border-bottom: var(--size-px-05) solid var(--color-sand-light-60);
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--size-rem-4);
  padding: var(--size-rem-05) var(--size-rem-15);
}

.nav_pQ0fU {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media (min-width: 721px) {
	.header_qCyM9 {
    padding: var(--size-rem-1) var(--size-rem-3);
	}
}

:where(html){--blue-0-hsl:205 100% 95%;--blue-1-hsl:206 100% 91%;--blue-2-hsl:206 100% 82%;--blue-3-hsl:206 96% 72%;--blue-4-hsl:207 91% 64%;--blue-5-hsl:207 86% 57%;--blue-6-hsl:208 80% 52%;--blue-7-hsl:208 77% 47%;--blue-8-hsl:209 77% 43%;--blue-9-hsl:209 75% 38%;--blue-10-hsl:209 76% 32%;--blue-11-hsl:209 75% 27%;--blue-12-hsl:209 76% 21%}
:where(html){--gray-0-hsl:210 17% 98%;--gray-1-hsl:210 17% 95%;--gray-2-hsl:210 16% 93%;--gray-3-hsl:210 14% 89%;--gray-4-hsl:210 14% 83%;--gray-5-hsl:210 11% 71%;--gray-6-hsl:210 7% 56%;--gray-7-hsl:210 9% 31%;--gray-8-hsl:210 10% 23%;--gray-9-hsl:210 11% 15%;--gray-10-hsl:214 14% 10%;--gray-11-hsl:216 16% 6%;--gray-12-hsl:210 40% 2%}
:where(html){--red-0-hsl:0 100% 98%;--red-1-hsl:0 100% 95%;--red-2-hsl:0 100% 89%;--red-3-hsl:0 100% 83%;--red-4-hsl:0 100% 76%;--red-5-hsl:0 100% 71%;--red-6-hsl:0 94% 65%;--red-7-hsl:0 86% 59%;--red-8-hsl:0 74% 54%;--red-9-hsl:0 65% 48%;--red-10-hsl:0 65% 42%;--red-11-hsl:0 65% 36%;--red-12-hsl:0 66% 30%}
:where(html){--sand-0-hsl:200 27% 98%;--sand-1-hsl:48 17% 88%;--sand-2-hsl:45 22% 79%;--sand-3-hsl:44 22% 69%;--sand-4-hsl:44 17% 62%;--sand-5-hsl:44 14% 54%;--sand-6-hsl:42 14% 46%;--sand-7-hsl:43 16% 39%;--sand-8-hsl:41 15% 32%;--sand-9-hsl:43 14% 26%;--sand-10-hsl:44 11% 20%;--sand-11-hsl:60 6% 14%;--sand-12-hsl:60 6% 7%}
:root {
	
	--color-red-dark: hsl(var(--red-9-hsl));
	--color-red-light: hsl(var(--red-9-hsl) / 70%);
	
	--color-sand-light-20: hsl(var(--sand-2-hsl) / 20%);
	--color-sand-light-40: hsl(var(--sand-2-hsl) / 40%);
	--color-sand-light-60: hsl(var(--sand-2-hsl) / 60%);
	--color-sand-regular: hsl(var(--sand-7-hsl));

	--color-blue-light: hsl(var(--blue-1-hsl));
	--color-blue-dark: hsl(var(--blue-8-hsl));

	--color-gray-dark: hsl(var(--gray-8-hsl));
	--color-gray-regular: hsl(var(--gray-3-hsl));
	--color-gray-light: hsl(var(--gray-1-hsl));

}
:root {

	--size-rem--15: -1.5rem;

	--size-rem-01: 0.1rem;
	--size-rem-025: 0.25rem;
	--size-rem-05: 0.5rem;
	--size-rem-075: 0.75rem;
	--size-rem-1: 1rem;
	--size-rem-11: 1.1rem;
	--size-rem-14: 1.4rem;
	--size-rem-15: 1.5rem;
	--size-rem-16: 1.6rem;
	--size-rem-18: 1.8rem;
	--size-rem-2: 2rem;
	--size-rem-22: 2.2rem;
	--size-rem-25: 2.5rem;
	--size-rem-3: 3rem;
	--size-rem-4: 4rem;
	--size-rem-6: 6rem;

  /* px */

	--size-px-01: 1px;
	--size-px-02: 2px;
	--size-px-05: 5px;
	--size-px-075: 7.5px;
	--size-px-10: 10px;
	--size-px-16: 16px;
	--size-px-32: 32px;
	--size-px-36: 36px;

}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Lexend-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Lexend-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Lexend-ExtraBold.woff2') format('woff2');
}
:root {

	font-family: 'Lexend', sans-serif;
	font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: 1.8;	

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--font-weight-8: 800;
	--font-weight-6: 600;

}
:root {
	color-scheme: dark light;
	box-sizing: border-box;
	
}
:root ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
body {
	display: grid;
	grid-template-areas: "header" "entries";
	border-left: var(--size-px-05) solid var(--color-red-light);
	min-height: 100vh;
	margin: 0;
	font-size: var(--size-rem-16);
}
@media (min-width: 721px) {
	body {
		border-left: var(--size-px-10) solid var(--color-red-light);
		margin: 0;
    font-size: var(--size-rem-11);
		overflow-x: hidden;
	}
}
.light {
	background-color: var(--color-sand-light-faded);
	color: var(--color-sand-regular);

}
.light a,
	.light a:link,
	.light a:visited,
	.light a:active {
		text-decoration: none;
		color: var(--color-red-dark);
	}
.light a:hover {
		cursor: pointer;
		background-color: var(--color-blue-light);
	}
.light code {
		color: hsl(var(--color-blue-dark));
	}
.dark {
	background-color: hsl(var(--gray-8-hsl));
	color: hsl(var(--gray-0-hsl));
}
@media (prefers-color-scheme: dark) {
	:root {
		composes: dark;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		composes: light;
	}
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}
/* Reduced motion */
@media (prefers-reduced-motion) {}
/* Mobile */
@media (max-width: 700px) {}
