.heading {
  margin: 0;
  padding: 0;
}

.h1 {
  composes: heading;
  color: hsl(var(--stone-9-hsl));
  font-size: var(--size-rem-3);
  font-weight: var(--font-weight-8);
}

.h2 {
  composes: heading;
  color: hsl(var(--sand-8-hsl));
  font-size: var(--size-rem-22);
  font-weight: var(--font-weight-6);
  margin-bottom: var(--size-rem-05);
  line-height: 1.2;
}

.h3 {
  composes: heading;
  font-size: var(--size-rem-16);
  color: hsl(var(--sand-7-hsl));
  font-weight: var(--font-weight-6);
  margin-bottom: var(--size-rem-1);
}

.date {
  composes: h3;
  font-size: var(--size-rem-16);
  margin-bottom: var(--size-rem-075);
}

@media (min-width: 721px) {

  .h1 {
    font-size: var(--size-rem-25);
  }  

  .h2 {
    font-size: var(--size-rem-18);
  }  

  .h3 {
    font-size: var(--size-rem-15);
    border-bottom: var(--size-px-1) solid var(--gray-6);
    margin-bottom: var(--size-rem-2);
  }

  .h3 {
    margin-bottom: 0;
  }

}
