@import "open-props/blue";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--blue-0);
  color: var(--blue-9);
  border-bottom: 1px inset var(--blue-4);
  padding-left: var(--size-rem-md);
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
