.footer {
  display: grid;
  gap: var(--size-rem-2);
  grid-template: "socials" / 1fr;
  align-items: center;
  margin-top: var(--size-rem-4);
  padding: var(--size-rem-05) var(--size-rem-15);
  border-top: var(--size-px-05) solid var(--color-sand-light-60);
  background-color: var(--color-sand-light-40);
}

.socialsList {
  grid-area: socials;
  /* grid-column-start: 3; */
}

.icon {
  margin-right: var(--size-rem-05);
}

@media (min-width: 721px) {
	.footer {
    padding: var(--size-rem-1) var(--size-rem-3);
    grid-template: "socials . ." / 1fr 1fr 1fr;
	}
}
