:root {
  --border-color: var(--gray-4);
}

.table {
  width: 100%;
  margin: 1.6em 0 1.6em 0;
  margin-left: auto;
  font-size: 1.4rem;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid var(--gray-7);
}

@media (min-width: 721px) {
  .table {
    font-size: 1.1rem;
  }
}

.table thead {
  text-align: left;
  border-bottom: 1px solid var(--gray-7);
}

.table thead th { 
  text-transform: uppercase;
  padding: 0.4em 0.8em;
}

.table tbody td {
  border: var(--size-px-01) solid var(--color-sand-regular);
  padding: 0.4em 0.8em;
}

.table th {
  background-color: var(--gray-2);
}

.table tbody tr:not(:last-child) td:first-child {
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:not(:last-child) td:last-child {
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:not(:last-child) td:last-child {
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:not(:last-child) td:not(:first-child):not(:last-child) {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:last-child td:not(:first-child):not(:last-child) {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
